WATCHED_TICKERS=AAPL,MSFT,TSLA,NVDA,AMZN,GOOG,AMD,ORCL,INTC,PATH,NVTS
ANTHROPIC_API_KEY=
ALPHA_VANTAGE_API_KEY=G4J3OKV644KWKFEM
FINANCIAL_JUICE_API_KEY=
FINNHUB_API_KEY=d7jdqs1r01qp3g1sq3egd7jdqs1r01qp3g1sq3f0

# Zoom AI backend
LLM_BACKEND=zoom
ZOOM_BASE_URL=https://eng.corp.zoom.com
ZOOM_TOKEN=edo_pat_y7CYgDyoqPKmfxwMj5GA5dwbf293Z1cSDfeyKybw885xSFalL9TO9QktRjj5FsrF
ZOOM_AGENT_ID=b8ca4d12-0834-4b1f-bee4-3cab2fbfd592